* {
    margin: 0;
    padding: 0;
}

input {
    margin: 20px;
}

video {
    margin: 20px;
    visibility: hidden;
}

.video-player {
    position: relative;
    z-index: -1;
}

audio {
    margin: 20px;
}

img {
    margin: 20px;
    visibility: hidden;
}

#container {
    z-index: 0;
    display: flex;
    margin: 20px;
    border: black 2px solid;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}


.buttons {
    top: -2em;
    opacity: 1;
    display: flex;
    justify-content:space-between;
    width: 55%;
    visibility: hidden;
  
}

