* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    text-decoration: inherit;
    line-height: inherit;
    color: inherit;
}

input {
    margin: 20px;
}

test {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#cover {
    width: 275px;
    height: 275px; 
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}

video {
    margin: 20px;
    visibility: hidden;
}

audio {
    margin: 20px;
}

img {
    margin: 20px;
    visibility: hidden;
}

#container {
    display: flex;
    margin: 20px;
    border: black 2px solid;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
