* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    text-decoration: inherit;
    line-height: inherit;
    color: inherit;
}
